/* Điện thoại được xoay theo chiều ngang và theo chiều dọc thông thường  */
@media screen and (max-width: 575.98px) and (max-width: 767.98px) {
  /* Điều chỉnh hướng của Nav-bar */
  #nav-bar .container {
    display: block;
  }

  /* Điều chỉnh con trỏ chuột khi vào nav-bar và các thẻ link */
  #nav-bar a:link,
  a:hover {
    display: block;
    height: auto;
    padding: 5px;
    margin-left: 40px;
    text-align: left;
  }

  /* Điều chỉnh ảnh avatar */
  .nav-i,
  .avatar {
    display: none;
  }

  /* Điều chỉnh phần mục tiêu nghề nghiệp */
  #target {
    padding: 70px;
    text-align: justify;
  }

  /* Điều chỉnh thanh border ở phần chứng chỉ */
  .cc2 {
    border-left: 0;
    border-top: 2px solid #d6c08d;
    padding-top: 20px;
    padding-left: 0;
  }
}
